@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.container {
  font-family: "Ubuntu", sans-serif;
  background: url(/assets/svg/container-img.svg);
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  border: solid white 5px;
  z-index: -1000;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}

/* quando a api for acionada e a class "active" for chamada, ativar esta estilizacao no main */
.container.active {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.7),
      rgba(36, 36, 36, 0.7)
    ),
    url(/assets/svg/container-img.svg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* quando a imagem for chamada, fazer com que a url do background mude */
}
