.container-text {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin-top: 30px;
}

.container-text.active {
  display: flex;
}

.container-text h2 {
  font-size: 20px;
}

.container-text p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
