@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.container {
  font-family: "Ubuntu", sans-serif;
  background: url(../assets/svg/container-img.svg);
  min-height: 100vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  border: solid white 5px;
  z-index: -1000;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}

.container.active {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.7),
      rgba(36, 36, 36, 0.7)
    ),
    url(../assets/svg/container-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .container {
    align-items: center;
  }
}
@media screen and (min-width: 912px) {
  .container {
    border: none;
  }

  .container.active {
    border: none;
  }
}
