@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.container {
  font-family: "Ubuntu", sans-serif;
  background: url(/assets/svg/container-img.svg);
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  border: solid white 5px;
  z-index: -1000;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}

/* quando a api for acionada e a class "active" for chamada, ativar esta estilizacao no main */
.container.active {  
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.7),
      rgba(36, 36, 36, 0.7)
    ),
    url(/assets/svg/container-img.svg);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* quando a imagem for chamada, fazer com que a url do background mude */
}

.menu-buttons {
  background: #242424;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  /* border-radius: 20px; */
  width: 100%;
}

.menu {
  display: none;
  justify-content: space-around;
  align-items: center;
  /* border: solid white 2px; */
  width: 90%;
  padding: 5px;
}

/*  quando clicar no botao a div irá receber a class active e vai dar display none */
.menu.active {
  display: none;
}

.menu label {
  font-size: 17px;
}

.menu input {
  padding: 3px;
  outline: none;
  border-radius: 3px;
  border: 0.5px solid whitesmoke;
  background: white;
  font-family: "Ubuntu", sans-serif;
}

.menu input:hover {
  border: 0.8px solid wheat;
  background: rgb(245, 240, 240);
}

.menu button {
  padding: 4px;
  border-radius: 3px;
  border: 0.5px solid whitesmoke;
  color: black;
  font-family: "Ubuntu", sans-serif;
  background: white;
}

.menu button:hover {
  border: 0.8px solid wheat;
  background: rgb(245, 240, 240);
}

.menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: solid white 2px; */
  width: 90%;
  padding: 16px;
}

.container-text {
  /* border: solid; */
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* justify-content: space-around; */
  /* height: 70vh; */
  width: 90%;
  margin-top: 30px;
}
/*  quando clicar no icon de texto será display flex */

.container-text h2 {
  font-size: 20px;
}

.container-text p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/*  quando clicar no icon de img o container midia deve ficar flex */
.container-midia {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* justify-content: space-around; */
  /* height: 70vh; */
  width: 90%;
  margin-top: 30px;

}

.container-midia img {
  visibility: hidden;
  width: 100%;
}

.container-midia iframe {
  width: 100%;
}

.container-midia p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

