.menu-buttons {
  background: #242424;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 5px;
}

.menu.active {
  display: none;
}

.menu label {
  font-size: 17px;
}

.menu input {
  padding: 3px;
  outline: none;
  border-radius: 3px;
  border: 0.5px solid whitesmoke;
  background: white;
  font-family: "Ubuntu", sans-serif;
}

.menu.erro input {
  border: 1.4px solid rgb(205, 62, 62);
}

.menu.erro input:hover {
  border: 1.4px solid rgb(205, 62, 62);
  background: rgb(255, 198, 198);
}

.menu input:hover {
  border: 0.8px solid wheat;
  background: rgb(245, 240, 240);
}

.menu button {
  padding: 4px;
  border-radius: 3px;
  border: 0.5px solid whitesmoke;
  color: black;
  font-family: "Ubuntu", sans-serif;
  background: white;
}

.menu button:hover {
  border: 0.8px solid wheat;
  background: rgb(245, 240, 240);
}

.menu-icons {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 16px;
}

.menu-icons.active {
  display: flex;
}

.icon {
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (min-width: 320px) {
  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .menu-buttons {
    width: 60%;
    border-radius: 20px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }

  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 912px) {
  .container-text.active {
    display: flex;
    height: 75vh;
    justify-content: center;
  }

  .menu-buttons {
    width: 40%;
  }

  .menu-buttons button {
    padding: 9px;
    border-radius: 7px;
    width: 16%;
  }

  .menu-buttons input {
    padding: 8px;
    border-radius: 7px;
    width: 32%;
  }
}
